#Activamos la reescritura SI SOLO SI el mod_rewrite se encuentra activado, así se evitan errores 500
<IfModule mod_rewrite.c>

    # Suponiendo que el listado de directorios esté desactivado, permitimos indexación y activamos el rewrite
    Options +FollowSymLinks -Indexes
    RewriteEngine on
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RedirectMatch 403 ^/(system).*$
    RewriteRule ^(.*)$ index.php?/$1 [L]
    
</IfModule>