.list-group {
    margin-left: 0;
}

.autocomplete-productos .list-group {
    /*width: calc(66.66667% - 1.875rem) !important;*/
    width: 100%;
    position: absolute;
}

.autocomplete-productos,
.autocomplete-proveedor {
    position: relative;
}

.autocomplete-proveedor ul{
    position: absolute;
    z-index: 9989;
    width: 100%;
}